<!-- CONTENT -->
<div id="content_container">
  <div id="content">
    <h1>Massage aux pierres semi-précieuses </h1>
    <a href="stone_mass.html"><img src="<%= image_path('pierre1_nouveau.jpg') %>" alt="pierre semi-précieuse" id="fire_dragon"></a>
    <p> « L’Ayurvéda » signifie « science de la vie ». C’est une médecine traditionnelle indienne vieille de plus de trois mille ans. Son approche holistique vise à atteindre l’équilibre de la pensée, du corps et de l’esprit. Elle considère l’être humain dans son environnement, en fonction des cycles de la nature, de la journée, des saisons et des différentes étapes de la vie. </p>
    <a><p class="img"><img src="<%= image_path('logo_grand.gif') %>" alt="Institut Ganesh" title="Institut Ganesh"/></p><a>
    <p class="sous_titre_img">INSTITUT GANESH - Rue du Pont 22 – 1003 Lausanne – 021 617 35 78</p><br/>
    <p>L’ayurvéda valorise le bien-être physique, émotionnel et spirituel de la personne et lui permet ainsi de vivre en accord total avec les lois de la nature et du cosmos.</p>
    <p>Lorsque l’équilibre parfait des trois doshas est perturbé, les symptômes de la maladie peuvent apparaître. Les traitements et techniques ayurvédiques ont comme objectif d’atteindre l’équilibre parfait selon la constitution.</p>
    <h3>BUT DES MASSAGES :</h3>
      <ul>
        <li>réduction du stress, diminution des angoisses</li>
      </ul>
      <ul>
        <li>permet de se recentrer, de se retrouver soi-même</li>
      </ul>
      <ul>
        <li>nourrit les tissus, redonne souplesse aux articulations</li>
      </ul>
      <ul>
        <li>équilibrage des 3 Forces Motrices ou doshas ( vata-pitta-kapha )</li>
      </ul>
      <ul>
        <li>élimination des toxines, meilleure circulation de l’énergie</li>
      </ul>
      <ul>
        <li>stimulation du système cardio-vasculaire et drainage de la lymphe</li>
      </ul>
    </p>
  </div>

  <!-- SIDEBAR -->
  <div id="sidebar_container">
    <div id="sidebar">
      <a href="seminaires.html"><img src="<%= image_path('mass_pierre.gif') %>" /></a>
      <p>Suite au succès rencontré lors de son premier séminaire en Suisse romande, Ewald animera un nouveau stage à Cheseaux sur Lausanne.</p>
      <p>Séminaire Massage des Méridiens avec les pierres</p>
      <ul>
        <li>prochain séminaire prévu fin 2013</li>
      </ul>
      <p>Séminaire Réflex-Balance Massage avec les pierres</p>
      <ul>
        <li>prochain séminaire prévu fin 2013</li>
      </ul>
      <p>Détail en cliquant sur l’image</p>

      <h3>MASSAGES AYURVEDIQUES</h3>
      <p>Les massages ayurvédiques sont pratiqués avec des huiles végétales pures, chaudes, enrichies de macérat de plantes ou d’huiles essentielles adaptées à la constitution ou dosha de chaque personne ou selon son état physique ou émotionnel du moment.</p>

      <hr/>

      <h3>Remboursé par les assurances maladie</h3>
      <p>Nous sommes remboursés par les assurances suivantes :</p>
      <ul>
        <li>toutes les assurances du Groupe Mutuel  </li>
      </ul>
      <ul>
        <li>Intras</li>
      </ul>
      <ul>
        <li>Sanitas</li>
      </ul>
      <ul>
        <li>Philos</li>
      </ul>
      <ul>
        <li>Assura</li>
      </ul>
      <ul>
        <li>Supra</li>
      </ul>
      <ul>
        <li>Swica</li>
      </ul>
      <ul>
        <li>Visana</li>
      </ul>
      <ul>
        <li>Arcosana</li>
      </ul>
      <ul>
        <li>AMB</li>
      </ul>
      <ul>
        <li>SanaTop</li>
      </ul>
      <ul>
        <li>Vivaosympany</li>
      </ul>
      <ul>
        <li>Rhenusana</li>
      </ul>
      <h3>Téléchargement</h3>
      <ul>
        <li><a href="./documents/Le_shirodara.pdf">Article sur le shirodara</a></li>
      </ul>
    </div>
  </div>
  <hr class="clear" />
</div>
