<!-- CONTENT -->
<div id="content_container">
  <div id="content">
    <h1>Stone massage</h1>
    <p>Le “Stone Massage” ou massage aux pierres chaudes est un traitement holistique utilisant du basalte, des roches sédimentaires, des pierres semi-précieuses ainsi que des cristaux.</p>
    <p>Au travail des pierres sont associées l’aromathérapie et l’harmonisation des chacras.</p>
    <p>Cette thérapie par les pierres est inspirée des techniques orientales pratiquées depuis des millénaires dans le but d’atteindre le bien-être physique et spirituel.</p>
    <p>Les résonances des pierres ont la faculté de dissoudre les tensions, de diminuer le stress, de rééquilibrer les énergies et de rétablir l’harmonie dans le corps et l’esprit.</p>
    
    <h3>Massage aux pierres semi-précieuses :</h3>
    <p>Un instant magique, abandonnez-vous aux bienfaits des huiles chaudes associées à l'énergie des cristaux !</p>

    <h3>Massages Ganesh (2 ou 4 mains)</h3>
    <p>L'effet thérapeutique des mains est sublimé par l'énergie des pierres semi-précieuses et des huiles chaudes (fleurs de lavande, millepertuis).</p>
    <p>Le choix du cristal est personnalisé et répond donc aux besoins de chacun : apaiser-stimuler-harmoniser-dénouer les tensions physiques et émotionnelles.</p>
    <p>Massage détente par excellence ! A 4 mains c'est un pur délice !</p>

    <h3>Massage à l'ambre :</h3>
    <p>Massage harmonisant et détoxiquant à l'aide de galets d'ambre et d'une huile délicate aux huiles essentielles et élixirs d'ambre.</p>

    <p>Ce massage apporte une chaleur réconfortante à tout le corps, un sentiment enveloppant et une relaxation profonde.</p>

    <p>L'ambre est une résine pétrifiée, elle apporte chaleur et gaieté, combat fatigue et angoisse, active la circulation sanguine et dissout d'éternels dépôts, elle renforce le système nerveux.</p>

    <p>L'ambre réchauffe et purifie tous les canaux énergétiques.</p>
  </div>
  <!-- SIDEBAR -->
  <div id="sidebar_container">
    <div id="sidebar">
      <img src="<%= image_path('pierre1.jpg') %>" alt="pierre semi-précieuse" class="pierre">
      <img src="<%= image_path('pierre2.jpg') %>" alt="pierre semi-précieuse" class="pierre">
    </div>
  </div>
  <hr class="clear" />
</div>
